.about-img img{
    width: 200px;
    height: 200px;
    margin-top: 30px;
    border-radius: 150px;
    border: 2px solid yellow;
    margin-left: 100px;
}
/* <!-- About Us Section Ended Here  */